<div class="row">
  <div class="col-10 offset-1 mt-5 inline">
    <div class="row">
      <div class="col-10 offset-1 pb-3">
        <button class="btn btn-outline-secondary" (click)="goBack()">
          Go back
        </button>
      </div>
    </div>
    <div class="row" *ngIf="employee">
      <div class="col-12">
        <div class="row">
          <div class="col-6 text-right">
            <h3>{{ employee.firstName | titlecase }} {{ employee.lastName | uppercase }}</h3>
            <h5 class="mb-3"><i>{{ employee.username | lowercase }}</i><br>
            {{ employeePositionsList[employee.position] }}</h5>
            <button class="btn btn-outline-info mr-3" [routerLink]="[ '/employees/edit', employee._id ]">Edit</button>
            <button class="btn btn-outline-danger" (click)="deleteEmployee(employee._id)">Delete</button>
          </div>
          <div class="col-6">
            <h5>Address</h5> 
            <p>
              {{ employee.address.street }} <br>
              {{ employee.address.zipCode }} <br>
              {{ employee.address.city }}
            </p>
            <h5>Contact</h5>
            <p>
              <b>phone :</b> {{ employee.phone }}
              <br>
              <b>email :</b> {{ employee.email }}
            </p>
            <h5>Birthdate</h5>
            <p>
              {{ employee.birthdate }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-8 offset-2 text-center">
            <h4>Projects</h4>
            <table class="table table-hover text-left">
              <thead>
                <th>Name</th>
                <th>Client</th>
                <th>Status</th>
              </thead>
              <tbody>
                <tr *ngFor="let project of projects">
                  <td><a [routerLink]="[ '/projects/detailed', project._id ]">{{ project.name }}</a></td>
                  <td><a [routerLink]="[ '/clients/detailed', project.client._id ]">{{ project.client.companyName }}</a></td>
                  <td>{{ projectStatusList[project.status] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>