<div class="row">
  <div class="col-10 offset-1 mt-5 inline">
    <div class="row">
      <div class="col-10 offset-1 pb-3">
        <button class="btn btn-outline-secondary" (click)="goBack()">
          Go back
        </button>
      </div>
    </div>
    <div class="row"  *ngIf="client">
      <div class="col-3 offset-1 text-center">
          <h3>{{ client.companyName }}</h3>
          <button class="btn btn-outline-info mr-3" [routerLink]="[ '/clients/edit', client._id ]">Edit</button>
          <button class="btn btn-outline-danger" (click)="deleteClient(client._id)">Delete</button>
      </div>
      <div class="col-7">
        <b>Address : </b> {{ client.address.street}}, {{ client.address.zipCode }} {{ client.address.city }}
        <br>
        <b>Contact : </b> {{ client.contactPerson.firstName }} {{ client.contactPerson.lastName }}
        <br>
        <b>Business : </b> {{ client.businessSector }}
      </div>
    </div>

  </div>
</div>